.handrow {
    display: flex;
    justify-content: space-between;
}

.handrow ul:last-child {
    margin-right: 100px;
}

.upperhand, .lowerhand, .userhand {
    justify-content: space-around;
}

.midhand {
    position: relative;
    top: 300px;
}

.lowerhand {
    position: relative;
    top: 550px;
}

.userhand {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

@media (max-width: 700px) {
    .handrow ul:last-child {
        margin-right: 60px;
    }
}

@media (max-height: 1100px) {
    .midhand {
        top: 200px;
    }
    .lowerhand {
        top: 400px;
    }
}

@media (max-height: 900px) {
    .midhand {
        top: 150px;
    }
    .lowerhand {
        top: 300px;
    }
}

@media (max-height: 800px) {
    .midhand {
        top: 100px;
    }
    .lowerhand {
        top: 200px;
    }
}

@media (max-height: 600px) {
    .midhand {
        top: 80px;
    }
    .lowerhand {
        top: 160px;
    }
}