body.game-page {
    background-image: url("/img/background-game.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
}

canvas.game-canvas {
    display: block;
}

div#rendererContainer {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.playerCards {
    position: absolute;
    bottom: 0px;
}

@media only screen and (max-width: 500px) {
    body.game-page {
        background-image: url("/img/background-game-mob.png");
    }
}