body.game-page{
    overflow-y: hidden;
}

canvas.game-canvas {
    display: block;
}

div#rendererContainer {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.playerCards {
    position: absolute;
    bottom: 0px;
}
