.card {
  background-color: #fff;
  font-family: 'Suit-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  float: left;
  width: 16em;
  height: 22.4em;
  font-size: 7px;
  margin: 0 1.2em 1.2em 0;
  position: relative;
  z-index: 2;
  transition: 1s;
}
.card.noshadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 700px) {
  .card {
    width: auto;
    height: 100px;
  }
}
