.hand {
    max-width: 150px;
    max-height: 225px;
    position: absolute;
    transition: 1s;
    margin: 30px;
    animation: appear 1s ease-in;
    animation-fill-mode: forwards;
}
.hand > div {
    position: absolute;
    transition: 1s;
    top: 0;
    left: 0;
}
.hand > div:hover {
    cursor: pointer;
    box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3), 0 0 50px rgba(255, 255, 200, 0.8);
}

.hand > div[disableHover=false]:hover {
    left: 0;
    top: -30px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.handuser {
    position: relative;
    transform: scale(1.2);
    margin: auto;
    margin-bottom: 250px;
}

.handother {
    position: relative; 
    transform: scale(0.7);
}

@media (max-width: 700px) {
    .handother {
        transform: scale(0.8);
    }
    .handuser {
        margin-bottom: 150px;
        transform: scale(1.1);
    }
}