/* ---------- CARD FACE ---------- */
.row1 {
    grid-row: 2;
}

.row2 {
    grid-row: 3;
    transform: translateY(4px);
}

.row3 {
    grid-row: 4;
}

.row4 {
    grid-row: 5;
    transform: translateY(-3px);
}

.row5 {
    grid-row: 6;
}

.row6 {
    grid-row: 7;
    transform: rotate(180deg) translate(-10px, -32px);
}

.row7 {
    grid-row: 8;
    transform: rotate(180deg) translate(-10px, -26px);
}

.row8 {
    grid-row: 9;
    transform: rotate(180deg) translate(-10px, -26px);
}

.row9 {
    grid-row: 10;
    transform: rotate(180deg) translate(-10px, -30px);
}
